.container-contacto{
    font-family: "Poppins", sans-serif;
.contacto-div{
    font-size: 20px;
    h2{
        font-family: 'Great Vibes', cursive;
        font-size: 50px;
    }
}
.container-peya{
    .p-contacto{
        font-size: 20px;
        color: #252525;
    }
    border-radius: 10px;
    .pya-img{
        border-radius:10px;
    }
    }
    .text-info{
        p{
        font-size: 18px;
        color: #252525;
    }
}
.text-final{
    h3{
    font-size: 20px;
}
}
}

