
/*HEADER*/

.header-index{
    display: flex;
    background-image: url(../../images/carroussel-1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 400px;
.tittle-header{
    margin-top: 20px;
    padding: 15px;
    text-decoration: overline;
    font-family: 'Poppins', sans-serif;
    color: #fff7f7;
    font-size: 25px;
/*&:hover{
    transition: all 3s;
    overflow: hidden;
    transform: scale(1.5);}*/
    .botonn{
        background-color: #b42a2a;
        border-radius: 15px;
        border: 0px;
        a{
            color: #fff7f7;
            padding: 15px;
            text-decoration: none;
            margin-top: 5px;
            font-size:20px ;
        }
    }
}
}
/*FIN-HEADER*/
/*primer section main*/
.main-index{
    display: flex;
    .promos-index{
        padding: 10px;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        color: #252525;
        h3{
            color: #fff7f7;
            padding: 5px;
            background-color:rgb(116, 184, 119 );
            font-size: 20x;
            border-radius: 20px;
        } 
        p{
            color:#252525;
            font-size: 18px;
            text-decoration: 1px solid black;
        }
    }
}
/*segunda section*/
    .promos-destacadas{
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        border-radius: 15px;
    &:hover {
        transition: all 6s;
        transform: rotateY(360deg);
    }
    .tittle-promo-index{
        flex-direction: column;
        align-items: center;
    h3{
        padding: 10px;
        font-family: "Poppins", sans-serif;
        color:#fff7f7;
        font-size:25px;
        background-color:#ce5858 ;
        border-radius: 5px;
    }
    p{
        font-size: 18px;
        font-family: "Poppins", sans-serif;
    }
}
    .container-img-main{
        img {
            border-radius: 40px;
        }
    }
    .container-boton-promo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boton-promo{
        width: 100px;
        background-color:rgb(116, 184, 119 );
        margin-top: 10px;
        border: 0px;
        border-radius: 5px;
        a{
            color: aliceblue;
            text-decoration: none;
            padding:5px;
            font-size: 15px;   
        }
    }

} 
.container-aside{
    h3{
        font-size: 18px;
        color: #fff7f7;
        background-color:#ce5858 ;
        border-radius: 10px;
        padding: 10px;
        font-family: "Poppins", sans-serif;
    }
    p{
        margin-top: 5px;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
    }
}

.aside-2{
    h3{
        font-size: 15px;
        color: #252525;
        background-color: #fff7f7;
    }
}
/*aca comienzan medias querys*/

@media(max-width:576px){
    .header-index{
        height: 200px; 
    }
    .container-tarjetas-main{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    &:hover {
        transition: all 6s;
        transform: rotateY(360deg);
    }  
}
    .promos-destacadas{
        margin-top:20px;
        padding: 10px;
        .tittle-promo-index{
        h3{
            font-size: 26px;
        }
        p{
            font-size:20px;
        }
    }
    .container-img-main{
       img{
         border-radius:10px;
       }
    }
}
}


