.header-index{
    background-image: url(../../images/index-titulo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
.tittle-header{
    justify-content: flex-start;
    text-decoration: overline;
    padding: 200px;
    margin: 0px 0px 20px 0px;
    font-family: 'Poppins', sans-serif;
    color: #e8e7e7;
&:hover{
    transition: all 3s;
    overflow: hidden;
    transform: scale(1.5);
}
}
}


.main-index{
    display: flex;
    .promos-3{
        padding: 10px;
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        color: #252525;
        h3{
            padding: 10px;
            background-color: pink;
            font-size: 30px;
        } 
    }
    .promo-destacada{
    &:hover {
        transition: all 6s;
        transform: rotateY(360deg);
    }
    .tittle-promo-index{
        flex-direction: column;
        align-items: center;
    h3{
        font-family: "Poppins", sans-serif;
        color: pink;
        font-size:30px;
    }
    p{
        font-size: 25px;
        font-family: "Poppins", sans-serif;
    }
        .img-promo-index{
            border-radius: 50px;
        }
    .button{
        width: 30%;
        background-color:pink;
        border: 0px;
        border-radius: 5px;
        color: aliceblue;
        margin: 10px;
        padding: 10px;
        font-size: 10px; 
    }
    
}
}
}
.container-aside{
    .info-aside{
        border-radius: 30px;
        font-family: "Poppins", sans-serif;
        h3{
            font-size: 20px;
            color:#252525;
        }
        .button-2{
        width: 100px;
        margin-bottom: auto;
        margin-right: 5px;
        background-color:pink;
        border: 0px;
        border-radius:10px;
        color: aliceblue;
        padding: 5px;
        font-size: 15px; 
        }
    }

    .info-aside-2{
        font-size: 18px;
        color:#252525;
        font-family: "Poppins", sans-serif;
        h3{
            font-size:25px;
            background-color: pink;
        }
        .pizza-aside-2{
            display: flex;
            margin-left: 50px;
            border-radius:30px;
        }
        .button{
            width: 100px;
            background-color:pink;
            border: 0px;
            border-radius: 5px;
            color: aliceblue;
            margin: 10px;
            padding: 10px;
            font-size: 18px
            
        }

    }
}


