
    .header-promociones{
    background-image: url(../images/pizza-4.jpg);
    background-size:cover;
    height:400px;
}
    .tittle-promo{
        font-size: 25px;
        font-family: 'Great Vibes', cursive;
        color:whitesmoke;
        justify-content: start;
        text-decoration: overline;
        .tarjetas-container{
        display: flex;
        .tarjeta-promo{
        text-decoration: solid black;
        .img-card-promo{
            img{
                border-radius: 50px;
            }
    }
    }
}
}

