*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@100&display=swap');
@import"header";



.contenedor-card{
    display: flex;
    padding:15px;
    margin: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    card{
        margin: 10px;
        padding: 10px;
        border-radius: 40px;
        img-card{
            margin:5px;
        }
    }
}
.text-main:hover{
    transition: all 2s;
    transform: scale(1.5);
}
.text-main{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    background-image: url(../images/section-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}
.text-main a{
    padding: 35px;
    margin-top: 10px;
    text-decoration: none;
    font-size:35px;
    color: whitesmoke;
}
.text-main2:hover{
    transition: all 2s;
    transform: scale(1.5);
}
.text-main2{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    background-image: url(../images/empa-3.jpg);

    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}
.text-main2 a{
    margin-top: 10px;
    padding: 35px;
    text-decoration: none;
    font-size:25px;
    color: whitesmoke;
}

.container-tarjetas{
    display: flex;
    justify-content: space-around;
}
.text-main-2{
    padding: 10px;
    font-size:25px;
    color: black;
    text-decoration: solid;
}
.card-text{
    color: black;
    font-size:20px;
    text-decoration: solid black;
}
.card-2{
    padding: 10px;
    margin: 10px;
    border-radius:50%;
}
.card-body{
    text-align: center;
    background-color: azure;
    margin: 10px;
    padding: 10px;
}
.img-card2{
    margin: 20px;
    padding: 20px;
}

.text-main-3{
    margin-top: 30px;
    font-size:35px;
    text-decoration: solid black;
    text-align: center;
}
.text-aside{
    font-size:25px;
    text-decoration: solid;
}
.text-horarios{
    font-size: 20px;
}
.card-inicio:hover{
   transition: all 3s;
   transform: rotateY(360deg);
}

.nosotros-div:hover{
    transition: all 3s;
    transform:rotateX(360deg);
}
.contacto-div:hover{
    transition: all 3s;
    transform: rotateY(360deg);
}
