@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Euphoria+Script&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header-index {
  background-repeat: no-repeat;
  background-size: cover;
}
.header-index .tittle-header {
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-size: 30px;
}
.header-index .tittle-header:hover {
  transition: all 3s;
  overflow: hidden;
  transform: scale(1.5);
}

.main-index {
  display: flex;
  text-align: start;
  align-items: center;
}
.main-index .promo-destacada:hover {
  transition: all 6s;
  transform: rotateY(360deg);
}
.main-index .promo-destacada h3 {
  font-family: "Poppins", sans-serif;
  color: pink;
  font-size: 50px;
}
.main-index .promo-destacada p {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}
.main-index .promo-destacada .button {
  width: 100px;
  background-color: pink;
  border: 0px;
  border-radius: 5px;
  color: aliceblue;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}
.main-index .promo-destacada .img-main-index {
  border-radius: 20px;
}

.info-aside {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: #252525;
}
.info-aside .button-2 {
  width: 100px;
  background-color: pink;
  border: 0px;
  border-radius: 5px;
  color: aliceblue;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

.text-footer {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.nosotros .h1 {
  font-size: 50px;
  font-family: "Great Vibes", cursive;
}
.nosotros .h2 {
  font-family: "Great Vibes", cursive;
  font-size: 60px;
}
.nosotros .img-nosotros {
  border-radius: 50px;
}
.nosotros .text-nosotros {
  color: #252525;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.btn, .btn-secundario, .btn-primario {
  border: 0px;
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
  width: 100%;
  color: #fff;
  font-size: 18px;
}

.btn-primario {
  background-color: #dfdcdc;
}

.btn-secundario {
  background-color: pink;
}