@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Euphoria+Script&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*HEADER*/
.header-index {
  display: flex;
  background-image: url(../../images/carroussel-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.header-index .tittle-header {
  margin-top: 20px;
  padding: 15px;
  text-decoration: overline;
  font-family: "Poppins", sans-serif;
  color: #fff7f7;
  font-size: 25px;
  /*&:hover{
      transition: all 3s;
      overflow: hidden;
      transform: scale(1.5);}*/
}
.header-index .tittle-header .botonn {
  background-color: #b42a2a;
  border-radius: 15px;
  border: 0px;
}
.header-index .tittle-header .botonn a {
  color: #fff7f7;
  padding: 15px;
  text-decoration: none;
  margin-top: 5px;
  font-size: 20px;
}

/*FIN-HEADER*/
/*primer section main*/
.main-index {
  display: flex;
}
.main-index .promos-index {
  padding: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #252525;
}
.main-index .promos-index h3 {
  color: #fff7f7;
  padding: 5px;
  background-color: rgb(116, 184, 119);
  font-size: 20x;
  border-radius: 20px;
}
.main-index .promos-index p {
  color: #252525;
  font-size: 18px;
  text-decoration: 1px solid black;
}

/*segunda section*/
.promos-destacadas {
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  border-radius: 15px;
}
.promos-destacadas:hover {
  transition: all 6s;
  transform: rotateY(360deg);
}
.promos-destacadas .tittle-promo-index {
  flex-direction: column;
  align-items: center;
}
.promos-destacadas .tittle-promo-index h3 {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: #fff7f7;
  font-size: 25px;
  background-color: #ce5858;
  border-radius: 5px;
}
.promos-destacadas .tittle-promo-index p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.promos-destacadas .container-img-main img {
  border-radius: 40px;
}
.promos-destacadas .container-boton-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promos-destacadas .boton-promo {
  width: 100px;
  background-color: rgb(116, 184, 119);
  margin-top: 10px;
  border: 0px;
  border-radius: 5px;
}
.promos-destacadas .boton-promo a {
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
  font-size: 15px;
}

.container-aside h3 {
  font-size: 18px;
  color: #fff7f7;
  background-color: #ce5858;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.container-aside p {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.aside-2 h3 {
  font-size: 15px;
  color: #252525;
  background-color: #fff7f7;
}

/*aca comienzan medias querys*/
@media (max-width: 576px) {
  .header-index {
    height: 200px;
  }
  .container-tarjetas-main {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .container-tarjetas-main:hover {
    transition: all 6s;
    transform: rotateY(360deg);
  }
  .promos-destacadas {
    margin-top: 20px;
    padding: 10px;
  }
  .promos-destacadas .tittle-promo-index h3 {
    font-size: 26px;
  }
  .promos-destacadas .tittle-promo-index p {
    font-size: 20px;
  }
  .promos-destacadas .container-img-main img {
    border-radius: 10px;
  }
}
.text-footer {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.nosotros .h1 {
  font-size: 50px;
  font-family: "Great Vibes", cursive;
}
.nosotros .h2 {
  font-family: "Great Vibes", cursive;
  font-size: 60px;
}
.nosotros .img-nosotros {
  border-radius: 20%;
}
.nosotros .text-nosotros {
  color: #252525;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

/*@mixin propiedades-btn($ancho,$color-letra,$tamanio-letra){
    width: $ancho;
    color: $color-letra;
    font-size: $tamanio-letra;
}*/
.header-promociones {
  background-image: url(../images/pizza-4.jpg);
  background-size: cover;
  height: 400px;
}

.tittle-promo {
  font-size: 25px;
  font-family: "Great Vibes", cursive;
  color: whitesmoke;
  justify-content: start;
  text-decoration: overline;
}
.tittle-promo .tarjetas-container {
  display: flex;
}
.tittle-promo .tarjetas-container .tarjeta-promo {
  text-decoration: solid black;
}
.tittle-promo .tarjetas-container .tarjeta-promo .img-card-promo img {
  border-radius: 50px;
}

.container-contacto {
  font-family: "Poppins", sans-serif;
}
.container-contacto .contacto-div {
  font-size: 20px;
}
.container-contacto .contacto-div h2 {
  font-family: "Great Vibes", cursive;
  font-size: 50px;
}
.container-contacto .container-peya {
  border-radius: 10px;
}
.container-contacto .container-peya .p-contacto {
  font-size: 20px;
  color: #252525;
}
.container-contacto .container-peya .pya-img {
  border-radius: 10px;
}
.container-contacto .text-info p {
  font-size: 18px;
  color: #252525;
}
.container-contacto .text-final h3 {
  font-size: 20px;
}

.menu-header {
  background-image: url(/../images/pizza-header-menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.menu-header h1 {
  margin: 15px;
  text-align: start;
  font-size: 60px;
  font-family: "Great Vibes", cursive;
  color: whitesmoke;
}

.pizzas {
  background-color: black;
}
.pizzas .texto-container {
  margin-top: 20px;
}
.pizzas .texto-container h3 {
  font-family: "Great Vibes", cursive;
  font-size: 45px;
  color: #ce5858;
}
.pizzas .texto-container ul {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}
.pizzas .texto-container ul li {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}
.pizzas .img {
  margin-top: 200px;
  flex-direction: column;
}
.pizzas .img img {
  padding: 10px;
  border-radius: 30px;
  width: 250px;
  border: 3px #fff solid;
}

.empanadas {
  background-color: black;
}
.empanadas .texto-container {
  margin-top: 20px;
}
.empanadas .texto-container h3 {
  font-family: "Great Vibes", cursive;
  font-size: 45px;
  color: #ce5858;
}
.empanadas .texto-container ul {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}
.empanadas .texto-container ul li {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}
.empanadas .texto-container p {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}
.empanadas .img-empa {
  margin-top: 200px;
}
.empanadas .img-empa img {
  padding: 10px;
  width: 260px;
  border-radius: 30px;
  border: #fff 3px solid;
}

.aside-menu {
  margin-top: 5px;
  background-color: black;
  text-align: center;
}
.aside-menu h3 {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 576px) {
  .menu-header {
    height: 150px;
  }
  .menu-header h1 {
    margin: 5px;
    text-align: center;
    font-size: 30px;
  }
  .container-menu {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .pizzas {
    background-color: #fff;
  }
  .pizzas .texto-container {
    margin-top: 10px;
  }
  .pizzas .texto-container h3 {
    font-size: 35px;
    text-align: center;
  }
  .pizzas .texto-container ul {
    padding: 5px;
  }
  .pizzas .texto-container ul li {
    color: black;
    padding: 5px;
    font-size: 15px;
  }
  .pizzas .img {
    display: none;
  }
  .pizzas .img img {
    display: none;
  }
  .empanadas {
    background-color: #fff;
  }
  .empanadas .texto-container {
    margin-top: 10px;
  }
  .empanadas .texto-container h3 {
    text-align: center;
    font-size: 35px;
  }
  .empanadas .texto-container ul {
    padding: 5px;
  }
  .empanadas .texto-container ul li {
    color: black;
    padding: 5px;
    font-size: 15px;
  }
  .empanadas .texto-container p {
    color: black;
    padding: 5px;
    font-size: 15px;
  }
  .empanadas .img-empa {
    display: none;
  }
  .empanadas .img-empa img {
    display: none;
  }
  .aside-menu {
    background-color: #fff;
    text-align: center;
  }
  .aside-menu h3 {
    padding: 5px;
    font-size: 15px;
    color: #ce5858;
  }
}